<h1>Homepage</h1>


<div id="content">
<p>
       <form action="/login" method="GET">
  <div>
    <label for="name">user email:</label>
    <input name="name" id="name">
  </div>
  <div>
    <label for="pwd">user password</label>
    <input name="pwd" id="pwd">
  </div>
  <div>
    <button>Get JWT</button>
  </div>
</form>
     
   </p>
</div>
